	<div class="footerSpacer"><br /></div>
	<footer class="oneColumn">
		<div>
			Copyright &#169; {{ site.time | date: "%Y" }} <a href="/">skratchdot</a>
			<span class="hspace">&#x2022;</span>
			Validate:&#160;&#160;
			<a href="http://validator.w3.org/check/referer">HTML5</a>
			<span class="hspace">&#x2022;</span>
			<a class="noBorder" href="/atom.xml"><img src="/images/feed-icon-14x14.png" alt="RSS/Atom Feed" style="top:2px" /></a>
			<span class="hspace">&#x2022;</span>
			<a href="https://twitter.com/skratchdot" class="twitter-follow-button" data-show-count="false">Follow @skratchdot</a>
		</div>
	</footer>
	<a href="http://github.com/skratchdot" class="github-corner">
		<svg width="80" height="80" viewBox="0 0 250 250" style="fill:#c80000; color:#000; position: absolute; top: 0; border: 0; right: 0;">
			<path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
			<path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
			<path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
			<path d="M10,10 L115,115 L250,250 Z" stroke="black" stroke-width="6"/>
		</svg>
	</a>
	<div id="homepage_link"><a href="/" style="border:0"><img src="/favicon.ico" alt="skratchdot" width="16" height="16" /></a></div>
	<!-- Javascript -->
	<script type="text/javascript" src="/js/skratchdot.js?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<!-- Google Analytics -->
	<script type="text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-10768188-1', 'skratchdot.com');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');
	</script>
	{% if get_comment_counts == true %}
	<script type="text/javascript">
		var disqus_shortname = 'skratchdot';
		$.getScript('http://' + disqus_shortname + '.disqus.com/count.js');
	</script>
	{% endif %}
	<!-- AddThis -->
	<script type="text/javascript">
	{% if addthis_share_homepage == true %}
		var addthis_share = {
			url : 'http://skratchdot.com/',
			title : '[skratchdot.]'
		};
	{% endif %}
		$.getScript('http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f95a18f2f5627c9&async=1', function () {
			addthis.init();
		});
	</script>
</body>
</html>
