{% unless page.hide_doctype %}<!doctype html>{% endunless %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	{% if page.title %}<title>{{ page.title }} &raquo; {{ site.title }}</title>
	{% else %}<title>{{ site.title }}</title>
	{% endif %}<!--
	  _                 _              _       _         _       _                 _
	 | |               | |            | |     | |       | |     | |               | |
	/ __)           ___| | ___ __ __ _| |_ ___| |__   __| | ___ | |_             / __)
	\__ \          / __| |/ / '__/ _` | __/ __| '_ \ / _` |/ _ \| __|            \__ \
	(   /          \__ \   <| | | (_| | || (__| | | | (_| | (_) | |_ _           (   /
	 |_|           |___/_|\_\_|  \__,_|\__\___|_| |_|\__,_|\___/ \__(_)           |_|

	                   wasting bytes with ascii art since [random date]
	-->
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png" />
	<meta name="apple-mobile-web-app-title" content="skratchdot" />
	<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="application-name" content="skratchdot" />
	<meta name="generator" content="Jekyll" />
	<link rel="alternate" type="application/atom+xml" title="Skratchdot (Atom 0.3)" href="/atom.xml" />
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" media="all" href="/css/html5reset-1.6.1.css?{{ site.time | date: "%Y%m%d%H%M" }}" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css?{{ site.time | date: "%Y%m%d%H%M" }}" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/pygments.css?{{ site.time | date: "%Y%m%d%H%M" }}" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!-- Allow $.getScript() calls to be cached -->
	<script type="text/javascript">
		$.ajaxSetup({
			cache: true
		});
	</script>
</head>
<body>
	<div class="hrRed"></div>
	<div class="hrBlack"></div>
	<header class="oneColumn">
		<h1><a href="/">&#91;skratchdot<span>.</span>&#93;</a></h1>
	</header>
	<nav id="mainNav" class="oneColumn">
		<ul>
			<li><a title="Home" href="/"><span>&#91;</span>Home<span>&#93;</span></a></li>
			<!--<li><a title="Browse" href="/browse/"><span>&#91;</span>Browse<span>&#93;</span></a></li>-->
			<li><a title="Projects" href="/projects/"><span>&#91;</span>Projects<span>&#93;</span></a></li>
			<li><a title="Contact" href="/contact/"><span>&#91;</span>Contact<span>&#93;</span></a></li>
		</ul>
	</nav>
	<!-- AddThis -->
	<div id="addthis_container_skratchdot">
		<div id="addthis_toolbox_skratchdot" class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_facebook_like"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_google_plusone" data-g-plusone-size="medium"></a>
			<a class="addthis_button_pinterest_pinit"></a>
			<a class="addthis_counter addthis_pill_style"></a>
		</div>
	</div>
