{% assign addthis_share_homepage = true %}
{% assign get_comment_counts = true %}
<section id="mainSection" class="oneColumn">
	<article>
	<h1>{{ post_list_title }}</h1>
	<ul class="postlist">
	{% for post in post_list %}
		<li>
			<div class="clearfix rel">
				<div class="pl-date">
					{{ post.date | date: "%Y-%m-%d" }}
				</div>
				<div class="pl-title">
					<a href="{{ post.url | slugize | replace:' ','%20' }}">{{ post.title }}</a>
				</div>
				{% unless page.hide_comments %}
				<div class="pl-comments">
					<a href="{{ post.url | slugize | replace:' ','%20' }}#disqus_thread" data-disqus-identifier="{{ post.url | slugize }}"></a>
				</div>
				{% endunless %}
			</div>
			{% if post.categories %}
			<div class="clearfix sublist">
				<div class="sublist-title">
					<strong><em>Categories:</em></strong>
				</div>
				<div>
				{% for category in post.categories %}
					<a href="/category/{{ category | slugize | replace:' ','%20' }}" title="View all posts in {{ category }}">{{ category }}</a>{% if forloop.rindex0 > 0 %}, {% endif %}
				{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if post.tags %}
			<div class="clearfix sublist">
				<div class="sublist-title">
					<strong><em>Tags:</em></strong>
				</div>
				<div>
				{% for tag in post.tags %}
					<a href="/tag/{{ tag | slugize | replace:' ','%20' }}" title="View all posts in {{ tag }}">{{ tag }}</a>{% if forloop.rindex0 > 0 %}, {% endif %}
				{% endfor %}
				</div>
			</div>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
	</article>
	<nav id="articlesNav">
		<div>
			<div class="newEntries">
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/" title="Newer">&laquo; Newer</a>
				{% else %}
					<a href="/page{{ paginator.previous_page }}/" title="Newer">&laquo; Newer</a>
				{% endif %}
			{% endif %}
			</div>
			<div class="oldEntries">
			{% if paginator.next_page %}
				<a href="/page{{ paginator.next_page }}/" title="Older">Older &raquo;</a>
			{% endif %}
			</div>
		</div>
		<div class="homeEntries"><a href="/">HOME</a></div>
	</nav>
</section>
{% include footer.html %}