#!/bin/bash

#################################
# FTP Config Info
#################################
FTP_HOST='example.com'
FTP_USER='username'
FTP_PASS='password'
FTP_FOLDER='/'
LOCAL_FOLDER='./_site/'

#################################
# Get our user input
#################################

# isGetPagesEnabled
read -p "Do you want to grab the latest README files by running get_pages.sh (y/n)?" isGetPagesEnabled
# isFtpEnabled
read -p "Do you want to ftp the results (y/n)?" isFtpEnabled


#################################
# Run our script
#################################

# Get Pages
if [ "$isGetPagesEnabled" = "y" ]; then
	echo "Running: sh ./_pages/get_pages.sh"
	sh ./_pages/get_pages.sh
else
	echo "Skipping: sh ./_pages/get_pages.sh"
fi

# Always run jekyll with the default settings
echo "Running: jekyll"
jekyll

# FTP the site we just built
if [ "$isFtpEnabled" = "y" ]; then
	echo "FTPing our _site"
	cd "$LOCAL_FOLDER"
	ncftpput -R -u "$FTP_USER" -p "$FTP_PASS" "$FTP_HOST" "$FTP_FOLDER" .
else
	echo "Skipping the FTP step."
fi
