{% include header.html %}
<section class="oneColumn">
	<article>
		<div class="entry">
			{{ content }}
		</div>
		{% unless page.hide_comments %}
		<div><br><div style="border-bottom:1px dotted"></div><br></div>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'skratchdot';
			var disqus_identifier = '{{ page.url | slugize }}';
			var disqus_url = '{{ site.url }}{{ page.url | slugize }}';
			{% if site.devmode %}
			var disqus_developer = 1;
			{% endif %}
			$.getScript('http://' + disqus_shortname + '.disqus.com/embed.js');
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		{% endunless %}
	</article>
	<nav id="articlesNav">
		<div>
			<div class="newEntries">
			{% if page.next.url %}
				<a href="{{ page.next.url }}">&laquo; {{ page.next.title }}</a>
			{% endif %}
			</div>
			<div class="oldEntries">
			{% if page.previous.url %}
				<a href="{{ page.previous.url }}">{{ page.previous.title }} &raquo;</a>
			{% endif %}
			</div>
		</div>
		<div class="homeEntries"><a href="/">HOME</a></div>
	</nav>
</section>
{% include footer.html %}