{% include header.html %}
<section class="oneColumn">
	<article>
		<div class="title">
			<div class="date">
				<div>
					<span>{{ page.date | date: "%b" }}</span>
					<span>{{ page.date | date: "%d" }}</span>
				</div>
				<div>
					<span>{{ page.date | date: "%Y" }}</span>
				</div>
			</div>
			<h2 class="title"><a href="{{ page.url | slugize | replace:' ','%20' }}" rel="bookmark" title="Permanent Link to {{ page.title }}">{{ page.title }}</a></h2>
			<div class="info">
				<div class="category">
				{% for category in page.categories %}
					<a href="/category/{{ category | slugize | replace:' ','%20' }}" title="View all posts in {{ category }}">{{ category }}</a>{% if forloop.rindex0 > 0 %}, {% endif %}
				{% endfor %}
					&nbsp;
				</div>
				{% unless page.hide_comments %}
				{% assign get_comment_counts = true %}
				<div class="pl-comments comments">
					<a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugize }}"></a>
				</div>
				{% endunless %}
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div class="entry">
			{{ content }}
		</div>
		{% for tag in page.tags %}
			{% if forloop.first %}
				<div class="tagList">
					Tagged with:
			{% endif %}
					<a href="/tag/{{ tag | slugize | replace:' ','%20' }}" title="View all posts in {{ tag }}">{{ tag }}</a>{% if forloop.rindex0 > 0 %} &bull; {% endif %}
			{% if forloop.last %}
				</div>
			{% endif %}
		{% endfor %}
		{% unless page.hide_comments %}
		<div><br><div style="border-bottom:1px dotted"></div><br></div>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'skratchdot';
			var disqus_identifier = '{{ page.url | slugize }}';
			var disqus_url = '{{ site.url }}{{ page.url | slugize }}';
			{% if site.devmode %}
			var disqus_developer = 1;
			{% endif %}
			$.getScript('http://' + disqus_shortname + '.disqus.com/embed.js');
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		{% endunless %}
	</article>
	<nav id="articlesNav">
		<div>
			<div class="newEntries">
			{% if page.next.url %}
				<a href="{{ page.next.url }}">&laquo; {{ page.next.title }}</a>
			{% endif %}
			</div>
			<div class="oldEntries">
			{% if page.previous.url %}
				<a href="{{ page.previous.url }}">{{ page.previous.title }} &raquo;</a>
			{% endif %}
			</div>
		</div>
		<div class="homeEntries"><a href="/">HOME</a></div>
	</nav>
</section>
{% include footer.html %}